.artigos{
    height: 50%;
    margin-left: 20%;
}
.artg{
     height: 50px;
     border-radius: 5px;
}
#boletim{
    margin-left: 15%;
}
#iptu{
    width: 15% ;
    margin-left: 1%;
    margin-right: 1%;
}
#artista{
    width: 15%;
margin-right: 3%;  
}


 .skew{
     display: flex;
     
     color: #666;
    margin-top: 2%;
    padding-bottom: 2%;
    transform: skew(0deg, 4deg);
    background-color: rgb(248, 207, 192);
    margin-bottom: 0%;
}
.content{
    margin-left: 10%;
  position: relative;
}
#content1{
    margin-right: 5%;


}
.mod{
   
    margin-bottom: -5%;
    margin-top: -5%;
    height: 200px;
    width: 100%;
    background-color: rgb(248, 207, 192);
    transform: (-1deg, 2deg);

}
.footer{
  margin-bottom: -50%;
  transform-origin: left;
    transform: skew(0deg, -3deg);
    background-color: brown;
    padding-top: 7%;
}
.mod2{
 margin-top: -5%;
 margin-bottom: 0px;
 background-color: brown;
 height: 10px;
 width: 100%;
}
.edit{
  display: inline-block;
  border-bottom:solid 2px;
  border-color: coral;
  color:gray;
  font-weight: bold;
  transform: skewY(-4deg);
  
}