* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover{
    text-decoration: aliceblue;
}
.cards{
    background-color: darkred;
    height: 40%;
    width: 100%;
    padding-bottom:1%;
    margin-top: 1%;

}
.bg{
    width: 30%;
    height: 100;
    
}

.card__item{
        display:inline-flex;
        position: relative;
        margin-right: 2%;
        margin-left: 3%;
        width: 100%;
        height: 20vh;
    
}
.btn_img2{
    background-color: rgb(161, 59, 59);
    padding-top: 0.5%;
    width: 15%;
    text-align: center;
}
.btn_img1{
    background-color: orangered;
    border-color: orangered;
    width: 15%;
    text-align: center;
    padding-top: 0.5%;
}
.btn_img3{
    background-color: green;
    width: 15%;
    text-align: center;
    padding-top: 0.5%;

}
.btn-img{
  align-items:center;
  margin-left:-12%;
  transform: translate(-80%, -80%);
  margin-top: 6%;
  font-size: 20px;
  text-decoration: none;
  border-radius: 15px;
  color:#f0f8ff;
  
}

.card1{
    
    width: 100%;
    height: 30%;
   
    background-size: 25%;
    
}
.img-card{
    width: 100%;
    height: 100%;
}

.tit{
    border-bottom: solid 1px;
    border-color: aliceblue;
    width: 4%;
    margin-left:45%;
    margin-bottom: 3%;
}
.galeria{
    display: flex;
    margin-left: 10%;
    margin-bottom:2%;
    height: 100%;
    width: 80%;

}
.card-galeria{
    display: flex;
    width: 60%;
    margin-right: 1%;
}
.galery{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .galery:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.6);
  }
.galery{
    display: inline;
    margin-top: 2%;
    margin-right: 1%;
    width: 80%;
    height: 60%;
    border-radius: 5px;
}
.icones{
    margin-left: 45%;
    text-decoration: none;
}
.iconis{
    margin-left: 33%;
}
.fab-fc{
    color: white;
}
.btn-galeria1{
    width: 10%;
    border: solid 1px;
    border-color: white;
    border-radius:25px;   
    margin-left: 42%;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    opacity: 0.6;
}

.btn-galeria{
    margin-left: 15%;
    color:white;
    text-decoration: none;

}


.sm-btn{
    display: flex;
    margin-left: 22%;
    width: 60%;
}
.g_sect{
    padding:5%;
}

.peq-buttons{
    
    width: 70%;
    height: 50%;
    padding-right: 0.4%;
    margin-right: 2%;
    border-radius: 10px;
    
}
@media (max-width: 900px){
    .sm-btn{
        width: 100%;
    }
    .article,.article1,.article2{
        display: block;
        width: 80%;
        margin-bottom: 3%;
        padding-bottom: 5%;
    }
    .date{
        padding-bottom: 10%;
    }
    .btn1,.btn-galeria{
       padding-bottom: 3%;
       
    }
    .galeria{
        display: block;
        width: 100%;
        height: 80%;

    }
    .card__item{
        width: 100%;
        display: block;
        height: 500px;
        padding-bottom: 5%;
        
    }
    .bg{
        width: 50%;
        margin-left: 7%;
        
    }
   .btn-img{
       width:10%;
       display: contents;
       text-align:justify;
   }
   .card-galeria{
       padding-top: 15%;
   }
   .Titulos{
       padding-bottom: 4%;
       display: block;
   }
   .sm-btn{
       margin-left: 7%;
   }
   .btn-galeria1{
    width: 10%;

   }
    

}